.gradient-custom {
    /* fallback for old browsers */
    background: #74a8d8;
   /*
     /* Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
  }
  .card{
    border-radius: 1em;
  }
  
  #imagePost, #userPhoto{
    max-width: 80%;
    margin-top: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Medium devices (tablets, 992px and up) */
  /*@media (max-width: 992px) { 
    #userProfile{
      margin-bottom: 15px;
    }
  } */
  
  .loke{
    background-color: #9daae4;
  }
  
 .loke:hover{
  background-color: #d1d4ff;
 }

 .ingresar{
   background-color: rgb(154, 201, 255);
 }

 .fondo :hover{
  background-color:rgb(185, 218, 255) ;
 }
 
 .mensajepublica{
   padding: 0px;
   border-radius: 4px;
   margin: 0px;
 }
 
 .color-btn-edit{
  background-color: rgb(95, 57, 156);
  border: none;
 }
 .color-btn-edit:hover{
  background-color: rgb(119, 84, 177);
  border: none;
 }

 #logout{
   background-color: rgb(58, 61, 204);
 }
 #logout:hover{
  background-color: rgb(77, 79, 219);
}

  #ir:hover{
  background-color: rgb(245, 245, 245);
}

.nombres:hover{
  background-color: rgb(123, 112, 226); 
}
  @media (max-width: 1245px){
    .loo{
      position: relative;
      background-color: rgb(197, 197, 231);
      
    }
    .imgloli{
      max-width: 0px;
    }
  }
  @media (max-width:1000px){
    #carouselExampleControls{
      max-width: 300px;
      
    }
    .img-relleno-qs{
      max-width: 0px ;
    }
    .card{
      max-width: max-content
    }
    
    
  }